# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
air_bnb = pd.read_csv('files/AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [179]:
# How many neighborhood groups are available and which shows up the most?
#There are five neighborhood groups available and Manhattan shows up 21661 times 


# ----------------------------------------------------------



# import numpy as np
# import pandas as pd
# import matplotlib.pyplot as plt
# import csv
# from collections import Counter

# air_bnb = pd.read_csv('files/AB_NYC_2019.csv')
# air_bnb.head()

# print (air_bnb.neighbourhood_group.nunique())

# air_bnb_group = air_bnb['neighbourhood_group']
# print(air_bnb_group)
# print(type(air_bnb_group))

# air_bnb['neighbourhood_group'].value_counts()['Manhattan']

# manhattan_count = air_bnb[air_bnb['neighbourhood_group'] = Manhattan]['neighbourhood_group'].count()
# print(manhattan_count)

# df = pd.read_csv('files/AB_NYC_2019.csv')
# df_result = df[df['neighbourhood_group'] == 'Manhattan'].count()
# print(df_result)

air_bnb.describe(include='all')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,48879,4.889500e+04,48874,48895,48895,48895.000000,48895.000000,48895,48895.000000,48895.000000,48895.000000,38843,38843.000000,48895.000000,48895.000000
unique,NaN,47905,NaN,11452,5,221,NaN,NaN,3,NaN,NaN,NaN,1764,NaN,NaN,NaN
top,NaN,Hillside Hotel,NaN,Michael,Manhattan,Williamsburg,NaN,NaN,Entire home/apt,NaN,NaN,NaN,2019-06-23,NaN,NaN,NaN
freq,NaN,18,NaN,417,21661,3920,NaN,NaN,25409,NaN,NaN,NaN,1413,NaN,NaN,NaN
mean,1.901714e+07,NaN,6.762001e+07,NaN,NaN,NaN,40.728949,-73.952170,NaN,152.720687,7.029962,23.274466,NaN,1.373221,7.143982,112.781327
std,1.098311e+07,NaN,7.861097e+07,NaN,NaN,NaN,0.054530,0.046157,NaN,240.154170,20.510550,44.550582,NaN,1.680442,32.952519,131.622289
min,2.539000e+03,NaN,2.438000e+03,NaN,NaN,NaN,40.499790,-74.244420,NaN,0.000000,1.000000,0.000000,NaN,0.010000,1.000000,0.000000
25%,9.471945e+06,NaN,7.822033e+06,NaN,NaN,NaN,40.690100,-73.983070,NaN,69.000000,1.000000,1.000000,NaN,0.190000,1.000000,0.000000
50%,1.967728e+07,NaN,3.079382e+07,NaN,NaN,NaN,40.723070,-73.955680,NaN,106.000000,3.000000,5.000000,NaN,0.720000,1.000000,45.000000
75%,2.915218e+07,NaN,1.074344e+08,NaN,NaN,NaN,40.763115,-73.936275,NaN,175.000000,5.000000,24.000000,NaN,2.020000,2.000000,227.000000
max,3.648724e+07,NaN,2.743213e+08,NaN,NaN,NaN,40.913060,-73.712990,NaN,10000.000000,1250.000000,629.000000,NaN,58.500000,327.000000,365.000000

In [38]:
# Are private rooms the most popular in manhattan?
# No, Entire home/apartments are the most popular at 25409 separate listings - 
# number of ratings do not necessarily determine popularity unless we are given 
# data on how many of the ratings are positive vs. negative for each listing.
# Availability could be a greater factor in popularity, however I am taking the route 
# that the greater the number of a certain kind of housing - the more demand there is for it, 
# otherwise people would not put up a listing.

----------------------------------------------------


# print (air_bnb.room_type.nunique())
# air_bnb['room_type'].value_counts()['']
# air_bnb_column = air_bnb['room_type']
# print(air_bnb_column)

# print(air_bnb['room_type'].value_counts()['Private room']) = 22326
# print(air_bnb['room_type'].value_counts()['Entire home/apt']) = 25409
#print(air_bnb['room_type'].value_counts()['Shared room']) = 1160

1160

In [73]:
# Which hosts are the busiest and based on their reviews?
#Row NYC and Louann in Queens are the busiest if measuring purely by number of reviews per month at 58.5 and 27.95 reviews per month respectively.
#Nalicia in Queens is second busiest in most sort options
#Louann in Queens is first and Nalicia in Queens is second when factoring in: ['last_review', 'reviews_per_month', 'number_of_reviews']
-----------------------------------------------------------------------

# reset_index = air_bnb.loc[ [0,1,2,3] ][['host_name', 'number_of_reviews', 'last_review', 'reviews_per_month']]
# print(reset_index)
# air_bnb.sort_values(by='reviews_per_month', ascending=False)
# air_bnb.sort_values(by=['last_review', 'reviews_per_month'], ascending=[False, False])
air_bnb.sort_values(by=['last_review', 'reviews_per_month', 'number_of_reviews'], ascending=[False, False, False])
# air_bnb.sort_values(by=['last_review', 'reviews_per_month', 'calculated_host_listings_count', 'number_of_reviews'], ascending=[False, False, False, False])

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
38870,30423106,Lou's Palace-So much for so little,228415932,Louann,Queens,Rosedale,40.65417,-73.74158,Private room,45,1,37,2019-07-08,20.94,1,134
28651,22176831,JFK 2 Comfort 5 Mins from JFK Private Bedroom,156684502,Nalicia,Queens,Springfield Gardens,40.66158,-73.77050,Private room,50,1,341,2019-07-08,17.82,3,25
22469,18173787,Cute Tiny Room Family Home by LGA NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76380,-73.87238,Private room,48,1,436,2019-07-08,16.03,5,337
45317,34673695,Home SWEET Home for a day or 2,261563626,Jacqueline,Queens,St. Albans,40.68993,-73.75695,Private room,50,1,23,2019-07-08,12.11,1,356
42665,33119863,Queens Studio.,42540127,Tio,Queens,Bayside,40.77067,-73.78278,Entire home/apt,55,2,37,2019-07-08,10.37,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [202]:
#Which neighorhood group has the highest average price?
# Manhattan has the highest average price at 196.87 



# ------------------------------------------------

# air_bnb.sort_values(by='neighbourhood_group', ascending=False)
# groups = air_bnb['neighbourhood_group']

# air_bnb.unique('')
# air_bnb.describe(include='all')
# _list = air_bnb[air_bnb['host_name'] == "Danielle"]
# danielle_list[danielle_list['neighbourhood_group'] == "Queens"]
# air_bnb['price'].describe()['mean']

# Manhatten, staten island, Bronx, Queens, Brooklyn
# no_manhattan_or_queens = no_manhattan[no_manhattan['neighbourhood_group'] != 'Queens']
# no_manhattan_or_queens[no_manhattan_or_queens['neighbourhood_group'] != 'Brooklyn']

# only_manhattan = air_bnb[air_bnb['neighbourhood_group'] == 'Manhattan']
# air_bnb[air_bnb['neighbourhood_group'] == 'Manhattan']

# only_manhattan['price'].describe()['mean'] = 196.8758

-----------------------------------------------

# only_staten_island = air_bnb[air_bnb['neighbourhood_group'] == 'Staten Island']
# air_bnb[air_bnb['neighbourhood_group'] == 'Staten Island']

# only_staten_island['price'].describe()['mean'] = 114.81

----------------------------------------------------------------

# only_bronx = air_bnb[air_bnb['neighbourhood_group'] == 'Bronx']
# air_bnb[air_bnb['neighbourhood_group'] == 'Bronx']

# only_bronx['price'].describe()['mean'] = 87.496

------------------------------------------------------------------
# only_queens = air_bnb[air_bnb['neighbourhood_group'] == 'Queens']
# # air_bnb[air_bnb['neighbourhood_group'] == 'Queens']

# only_queens['price'].describe()['mean'] = 99.517




--------------------------------
# # # air_bnb[air_bnb['neighbourhood_group'] == 'Brooklyn']

# only_brooklyn['price'].describe()['mean'] = 124.3832

# only_brooklyn.describe(include='all')

2500600

In [213]:

# Which neighborhood group has the highest total price?
# Manhattan also has the highest total price at a value of 4264527
----------------------------------------------------------------------------------------

# only_manhattan = air_bnb[air_bnb['neighbourhood_group'] == 'Manhattan']
# # air_bnb[air_bnb['neighbourhood_group'] == 'Manhattan']

# # only_manhattan['price'].describe()['mean'] = 196.8758

# manhattan_price = only_manhattan['price']

# manhattan_price.sum() == 4264527


# -----------------------------------------------

# only_staten_island = air_bnb[air_bnb['neighbourhood_group'] == 'Staten Island']
# # air_bnb[air_bnb['neighbourhood_group'] == 'Staten Island']

# # only_staten_island['price'].describe()['mean'] = 114.81

# staten_island_price = only_staten_island['price']

# staten_island_price.sum() = 42825

# ----------------------------------------------------------------

# only_bronx = air_bnb[air_bnb['neighbourhood_group'] == 'Bronx']
# # air_bnb[air_bnb['neighbourhood_group'] == 'Bronx']

# # only_bronx['price'].describe()['mean'] = 87.496

# bronx_price = only_bronx['price']

# bronx_price.sum() == 95459


# ------------------------------------------------------------------
# only_queens = air_bnb[air_bnb['neighbourhood_group'] == 'Queens']
# # # air_bnb[air_bnb['neighbourhood_group'] == 'Queens']

# # only_queens['price'].describe()['mean'] = 99.517

# queens_price = only_queens['price']

# queens_price.sum() == 563867 


# --------------------------------
# only_brooklyn = air_bnb[air_bnb['neighbourhood_group'] == 'Brooklyn']
# # # # air_bnb[air_bnb['neighbourhood_group'] == 'Brooklyn']

# # only_brooklyn['price'].describe()['mean'] = 124.3832

# # only_brooklyn.describe(include='all')

# brooklyn_price = only_brooklyn['price']

# brooklyn_price.sum() = 2500600

4264527

In [211]:
#Which top 5 hosts have the highest total price?
# These host_id's are the top 5 with the highest total price combining price per night x minimum number of nights:
# IDs = 20582832, 72390391, 5143901, 3906464, 4382127

-----------------------------------------------------------------------------------------

air_bnb.sort_values(by=['price', 'minimum_nights'], ascending=[False, False])

SyntaxError: invalid syntax (<ipython-input-211-66ef6c81ab24>, line 4)

In [113]:
# Who currently has no (zero) availability with a review count of 100 or more?
# these host id's are the top 4/5 from the 162 total hosts with zero availability and a review count 100 or higher: 1: 792159 2: 22959695 3: 121391142 4: 21641206 
-----
# --------------------------------------------------------------------------------------------------

# hope = air_bnb.sort_values(by=['availability_365', 'number_of_reviews'], ascending=[True, False])
# pd.set_option('display.max_rows', 20)
# hope.head(162)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
471,166172,LG Private Room/Family Friendly,792159,Wanda,Brooklyn,Bushwick,40.70283,-73.92131,Private room,60,3,480,2019-07-07,6.70,1,0
9974,7670562,JFK 10 & LGA 15 MINUTES A/C PRIVATE BEDROOM,22959695,Gurpreet Singh,Queens,Richmond Hill,40.69604,-73.82449,Private room,50,1,424,2018-11-25,8.86,5,0
9976,7675781,JFK 10 & LGA 15 MINUTES AWAY A/C PRIVATE BED...,22959695,Gurpreet Singh,Queens,Richmond Hill,40.69463,-73.82610,Private room,50,1,408,2018-11-24,8.56,5,0
22104,17779504,Relaxing Quiet Room Just 6 Mins from JFK Airport!,121391142,Deloris,Queens,Springfield Gardens,40.66535,-73.76367,Private room,65,1,368,2019-06-21,13.24,2,0
5876,4282178,A Superhost SALE! DELUXE Room!,21641206,Veronica,Brooklyn,Bedford-Stuyvesant,40.69724,-73.94914,Private room,53,1,351,2019-06-24,6.09,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19377,15462208,Spacious 2 Bedroom Apartment by Central Park,26073602,Anna,Manhattan,East Harlem,40.79575,-73.94817,Entire home/apt,145,2,101,2019-01-12,3.07,1,0
12375,9544914,"King Bed, Private Room in Crown Heights, Comedian",22423049,Abraham,Brooklyn,Crown Heights,40.67157,-73.94117,Private room,36,2,100,2017-07-31,2.28,1,0
16190,13065356,"""Quaint-Essential"" Living in the West Village",42399786,Braydon,Manhattan,West Village,40.73564,-73.99823,Entire home/apt,145,3,100,2018-09-15,2.62,1,0
18230,14283546,Adorable Crown Heights Home Away From Home,84141923,Marisha,Brooklyn,Crown Heights,40.66902,-73.93771,Private room,50,3,100,2019-02-19,2.81,2,0
19459,15523119,"3 bedroom, second floor and cozy",96148809,Raymond,Brooklyn,Bedford-Stuyvesant,40.68227,-73.93479,Entire home/apt,150,2,100,2019-07-05,3.26,1,0

In [94]:
# What host has the highest total of prices and where are they located?
# Katharine from Queens in Astoria has the highest total of prices even though she has only one listing because the minimum number of nights is 100 at $10,000 for the price.

air_bnb.sort_values(by=['price', 'minimum_nights', 'calculated_host_listings_count'], ascending=[False, False, False])

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.76810,-73.91651,Private room,10000,100,2,2016-02-13,0.04,1,0
29238,22436899,1-BR Lincoln Center,72390391,Jelena,Manhattan,Upper West Side,40.77213,-73.98665,Entire home/apt,10000,30,0,NaN,NaN,1,83
17692,13894339,Luxury 1 bedroom apt. -stunning Manhattan views,5143901,Erin,Brooklyn,Greenpoint,40.73260,-73.95739,Entire home/apt,10000,5,5,2017-07-27,0.16,1,0
12342,9528920,"Quiet, Clean, Lit @ LES & Chinatown",3906464,Amy,Manhattan,Lower East Side,40.71355,-73.98507,Private room,9999,99,6,2016-01-01,0.14,1,83
40433,31340283,2br - The Heart of NYC: Manhattans Lower East ...,4382127,Matt,Manhattan,Lower East Side,40.71980,-73.98566,Entire home/apt,9999,30,0,NaN,NaN,1,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25433,20333471,★Hostel Style Room | Ideal Traveling Buddies★,131697576,Anisha,Bronx,East Morrisania,40.83296,-73.88668,Private room,0,2,55,2019-06-24,2.56,4,127
25753,20608117,"Sunny, Quiet Room in Greenpoint",1641537,Lauren,Brooklyn,Greenpoint,40.72462,-73.94072,Private room,0,2,12,2017-10-27,0.53,2,0
25794,20639628,Spacious comfortable master bedroom with nice ...,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68173,-73.91342,Private room,0,1,93,2019-06-15,4.28,6,176
25795,20639792,Contemporary bedroom in brownstone with nice view,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68279,-73.91170,Private room,0,1,95,2019-06-21,4.37,6,232
25796,20639914,Cozy yet spacious private brownstone bedroom,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68258,-73.91284,Private room,0,1,95,2019-06-23,4.35,6,222

In [165]:
# When did Danielle from Queens last receive a review?
# There are multiple top hits for a Danielle from Queens, the Danielle at host_id = 26432133 was the most frequent hit and 
# her most recent review was on 2019-07-08 at AirBnb ID: 18173787

------------------------------------------------------------

air_bnb['host_name'] == "Danielle"
danielle_list = air_bnb[air_bnb['host_name'] == "Danielle"]
danielle_list[danielle_list['neighbourhood_group'] == "Queens"]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
7086,5115372,Comfy Room Family Home LGA Airport NO CLEANING...,26432133,Danielle,Queens,East Elmhurst,40.76374,-73.87103,Private room,54,1,430,2019-07-03,13.45,5,347
16349,13151075,ASTORIA APARTMENT OUTDOOR SPACE,18051286,Danielle,Queens,Astoria,40.77221,-73.92901,Private room,50,1,0,NaN,NaN,1,0
20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76335,-73.87007,Private room,48,1,510,2019-07-06,16.22,5,341
21517,17222454,Sun Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76367,-73.87088,Private room,48,1,417,2019-07-07,14.36,5,338
22068,17754072,Bed in Family Home Near LGA Airport,26432133,Danielle,Queens,East Elmhurst,40.76389,-73.87155,Shared room,38,1,224,2019-07-06,7.96,5,80
22469,18173787,Cute Tiny Room Family Home by LGA NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76380,-73.87238,Private room,48,1,436,2019-07-08,16.03,5,337
27021,21386105,Quiet & clean 1br haven with balcony near the ...,154256662,Danielle,Queens,Astoria,40.77134,-73.92424,Entire home/apt,250,3,1,2018-01-02,0.05,1,180
33861,26814763,One bedroom with full bed / 1 stop from Manhattan,201647469,Danielle,Queens,Long Island City,40.74565,-73.94699,Private room,108,2,13,2019-06-20,1.74,1,333

## Further Questions

1. Which host has the most listings?

In [216]:
# air_bnb.describe(include='all')
Answer for #1 = Sonder(NYC) has the most listings at 327 total listings count


---------------------------------------------------
air_bnb.sort_values(by='calculated_host_listings_count', ascending=False)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
39773,30937596,Sonder | 11th Ave | Contemporary 1BR + Gym,219517861,Sonder (NYC),Manhattan,Hell's Kitchen,40.76037,-73.99744,Entire home/apt,185,29,1,2019-06-10,1.00,327,332
41463,32240788,Sonder | Stock Exchange | Serene 2BR + Lounge,219517861,Sonder (NYC),Manhattan,Financial District,40.70782,-74.01227,Entire home/apt,396,2,8,2019-06-24,2.12,327,289
41469,32240966,Sonder | Stock Exchange | Sleek 3BR + Lounge,219517861,Sonder (NYC),Manhattan,Financial District,40.70620,-74.01192,Entire home/apt,498,2,8,2019-06-11,2.50,327,255
38294,30181945,Sonder | 180 Water | Premier 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70771,-74.00641,Entire home/apt,229,29,1,2019-05-29,0.73,327,219
41468,32240933,Sonder | Stock Exchange | Lively 1BR + Kitchen,219517861,Sonder (NYC),Manhattan,Financial District,40.70726,-74.01060,Entire home/apt,229,2,2,2019-06-23,0.77,327,351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18593,14694447,near metro,91292951,Pengfei,Queens,Elmhurst,40.73259,-73.88083,Private room,30,1,0,NaN,NaN,1,15
18594,14694588,"Spacious Studio Room in Flushing, Queens",91381742,Pearl,Queens,Flushing,40.75577,-73.83263,Private room,60,2,42,2019-05-19,1.23,1,355
18595,14695540,Private Suite · Sparkling Clean · Memory Foam,12061634,Sarah,Brooklyn,Sunset Park,40.64737,-74.01357,Private room,47,2,60,2019-06-24,1.71,1,4
18596,14696215,Entire 1 Bedroom in Gramercy,91393670,William,Manhattan,Kips Bay,40.73903,-73.98267,Entire home/apt,200,2,3,2018-09-24,0.29,1,0
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

2. How many listings have completely open availability?

In [153]:
Answer for #2 = 1295 listings have completely open availability
  
open = air_bnb.sort_values(by='availability_365', ascending=False)
open.head(1295)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
11591,9024549,Spacious & Lofted in Williamsburg,8313697,Koppel,Brooklyn,Park Slope,40.67300,-73.98076,Private room,120,20,0,NaN,NaN,1,365
41757,32467835,SPACIOUS & COMFY 3 BDROM/2 BATH APT CLOSE 2 SU...,216419980,Billie,Manhattan,Harlem,40.82420,-73.95106,Entire home/apt,112,30,0,NaN,NaN,1,365
41747,32466179,Sonder | The Nash | Classic 1BR + Fitness Center,219517861,Sonder (NYC),Manhattan,Murray Hill,40.74898,-73.97534,Entire home/apt,202,29,0,NaN,NaN,327,365
41742,32463948,Amazing East Village Loft,238779678,Dustin,Manhattan,East Village,40.72704,-73.98916,Private room,55,30,0,NaN,NaN,9,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19123,15206157,1Bdrm DELUXE Fully Renovated CONDO Wyndham Mid...,96098402,Wynpoints,Manhattan,Midtown,40.75331,-73.97330,Private room,599,3,8,2017-01-01,0.24,12,365
19393,15476794,Charming Private House,99346083,Stella,Queens,Queens Village,40.70811,-73.74103,Entire home/apt,125,30,0,NaN,NaN,1,365
19126,15206607,STUDIO Condo in luxurious Wyndham Midtown 45 NYC,96098402,Wynpoints,Manhattan,Midtown,40.75294,-73.97190,Private room,699,3,3,2016-12-11,0.09,12,365
18943,15049253,Queens Comfy Private Room (JFK-8mins) with porch,74331597,Nickesha,Queens,St. Albans,40.68511,-73.76884,Private room,70,2,125,2019-05-21,3.65,5,365
19091,15176641,Near transportation private room,19923341,Ahmad,Queens,Whitestone,40.78573,-73.81062,Private room,85,1,0,NaN,NaN,1,365

3. What room_types have the highest review numbers?

In [233]:
Answer for #3 = Entire Homes and Apartments have the highest number of review numbers with 25409 ratings listed
______________________________________________________________________________________________

# group by room type --- mean review numbers

# only_private_room = air_bnb[air_bnb['room_type'] == 'Private room']
# # # air_bnb[air_bnb['room_type'] == 'Private room']

# # private_room_review_total = only_private_room['number_of_reviews']

# # private_room_review_total.sum() == 538346


# only_private_room.describe(include='all') = 22326

# only_entire_home_apt = air_bnb[air_bnb['room_type'] == 'Entire home/apt']

# only_entire_home_apt.describe(include='all') = 25409



# -------------------------------------------------------------------------------

# only_shared_room = air_bnb[air_bnb['room_type'] == 'Shared room']

# only_shared_room.describe(include='all') == 1160

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
count,1.160000e+03,1159,1.160000e+03,1160,1160,1160,1160.000000,1160.000000,1160,1160.000000,1160.000000,1160.000000,846,846.000000,1160.000000,1160.000000
unique,NaN,1149,NaN,616,5,115,NaN,NaN,1,NaN,NaN,NaN,353,NaN,NaN,NaN
top,NaN,Amazing cozy and warm male room on Manhattan IV,NaN,Sergii,Manhattan,Hell's Kitchen,NaN,NaN,Shared room,NaN,NaN,NaN,2019-06-30,NaN,NaN,NaN
freq,NaN,3,NaN,38,480,99,NaN,NaN,1160,NaN,NaN,NaN,46,NaN,NaN,NaN
mean,2.300378e+07,NaN,1.026241e+08,NaN,NaN,NaN,40.730514,-73.943343,NaN,70.127586,6.475000,16.600000,NaN,1.471726,4.662931,162.000862
std,1.048369e+07,NaN,8.905235e+07,NaN,NaN,NaN,0.063149,0.049384,NaN,101.725252,31.458825,34.185006,NaN,1.610339,6.218151,151.347109
min,1.204800e+04,NaN,2.787000e+03,NaN,NaN,NaN,40.576070,-74.125590,NaN,0.000000,1.000000,0.000000,NaN,0.020000,1.000000,0.000000
25%,1.516417e+07,NaN,2.176194e+07,NaN,NaN,NaN,40.691300,-73.980263,NaN,33.000000,1.000000,0.000000,NaN,0.260000,1.000000,0.000000
50%,2.535204e+07,NaN,6.743518e+07,NaN,NaN,NaN,40.735115,-73.950710,NaN,45.000000,1.000000,4.000000,NaN,0.980000,2.000000,90.000000
75%,3.241397e+07,NaN,1.796956e+08,NaN,NaN,NaN,40.766805,-73.925148,NaN,75.000000,3.000000,16.250000,NaN,2.085000,6.000000,341.000000
max,3.648561e+07,NaN,2.724777e+08,NaN,NaN,NaN,40.897850,-73.719280,NaN,1800.000000,999.000000,454.000000,NaN,10.770000,34.000000,365.000000

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

In [234]:
1. Which hosts are the busiest and based on their reviews? (this question was not in the notebook, but is addressed in question 4)
#Row NYC and Louann in Queens are the busiest if measuring purely by number of reviews per month at 58.5 and 27.95 reviews per month respectively.
#Nalicia in Queens is second busiest in most sort options
#Louann in Queens is first and Nalicia in Queens is second when factoring in: ['last_review', 'reviews_per_month', 'number_of_reviews']
------
2. How many neighborhood groups are available and which shows up the most?
#There are five neighborhood groups available: Manhattan, Staten Island, Bronx, Brooklyn and Queens. Manhattan shows up the most at 21661 times. 
------
3. Are private rooms the most popular in manhattan?
# No, Entire home/apartments are the most popular at 25409 separate listings - 
# number of ratings do not necessarily determine popularity unless we are given 
# data on how many of the ratings are positive vs. negative for each listing.
# Availability could be a greater factor in popularity, however I am taking the route 
# that the greater the number of a certain kind of housing - the more demand there is for it, 
# otherwise people would not bother putting up the listing.
------
4. Which hosts are the busiest and based on their reviews?
#Row NYC and Louann in Queens are the busiest if measuring purely by number of reviews per month at 58.5 and 27.95 reviews per month respectively.
#Nalicia in Queens is second busiest in most sorting options
#Louann in Queens is first and Nalicia in Queens is second when factoring in: ['last_review', 'reviews_per_month', 'number_of_reviews']
------
5. Which neighorhood group has the highest average price?
# Manhattan has the highest average price at 196.87 
-----
6. Which neighborhood group has the highest total price?
# Manhattan has the highest total price at a value of 4264527.00
------
7. Which top 5 hosts have the highest total price?
# These host_id's are the top 5 with the highest total price (combining price per night x minimum number of nights:)
# IDs = 20582832, 72390391, 5143901, 3906464, 4382127
------
8. Who currently has no (zero) availability with a review count of 100 or more?
# these host id-s are the top 4/5 from the 162 total hosts with zero availability at a review count 100 or higher: (1: 792159 2: 22959695 3: 121391142 4: 21641206)
-----
9. What host has the highest total of prices and where are they located?
# Katharine from Queens in Astoria has the highest total of prices even though she has only one listing because the minimum number of nights is 100 at $10,000 for the price.
-----
10. When did Danielle from Queens last receive a review?
# There are multiple top hits for a Danielle from Queens, the Danielle at host_id = 26432133 was the most frequent hit and 
# her most recent review was on 2019-07-08 at AirBnb ID: 18173787


# ----------------------------------------------------------

Further Questions:
Answer for #1 = Sonder(NYC) has the most listings at 327 total listings count
    
Answer for #2 = 1295 listings have completely open availability

Answer for #3 = Entire Homes and Apartments have the highest number of review numbers with 25409 ratings listed

SyntaxError: invalid syntax (<ipython-input-234-ab396309095e>, line 1)